#recipeList {
    margin:0;
    padding:0;
    width:300px;
    float:left;
    margin:10px;
    border:1px solid #6a3cc4;   
}

#recipeList li {
    list-style-type: none;
    padding:5px 10px;
    border-top:1px solid #6a3cc4;
    cursor: pointer;
    color:black;
    font-style: normal;
}

#recipeList li:hover {
    background: #4fc3fc;
}

#recipeList h2 {
    padding:10px;
    margin:0;
    color:white;
}